:root {
    /* Font Sizes */
    --baseFontSize: 1rem;
    --baseNavSize: 0.64rem;
    --smallFontSize: 0.8rem;
    --smallestFontSize: 0.512rem;
    
    --xtra-big-ass-heading: 3.052rem;
    --xtra-heading: 2.441rem;
    --heading-1: 1.953rem;
    --heading-2: 1.563rem;
    --heading-3: 1.25rem;
    --heading-4: var(--baseFontSize);
    --heading-5: var(--smallFontSize);
    --heading-6: 0.64rem;
    --heading-7: var(--smallestFontSize);

    /* Colors */
    --color-neutral-light: #F2F2F2;
    --color-neutral-dark: #E5E5E5;
    --color-primary-light: #B7BDD5;
    --color-primary-normal: #6E7AAB;
    --color-primary-darker: #404E7C;
    --color-primary-darkest: #11264F;
    --color-secondary: #B80C09;
}

body {
    font-family: "Ubuntu Mono", sans-serif;
}

h1 {
    font-size: var(--heading-2);
    padding-bottom: 5px;
}

h2 {
    font-size: var(--heading-3);
}

.blinking-cursor {
    font-weight: 600;
    font-size: var(--heading-2);
    animation: blink-dark-background 700ms infinite;
}

@keyframes blink-dark-background {
    0% {
        color: var(--color-neutral-dark)
    }
    100% {
        color: var(--color-secondary);
    }
}

.boxed-header {
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
    min-height: 80px;
    width: 100%;
}

.boxed-header.darkest {
    background-color: var(--color-primary-darkest);
    color: #fff;
}

.boxed-header.darker {
    background-color: var(--color-primary-darker);
    color: #fff;
}

.boxed-header.normal {
    background-color: var(--color-primary-normal);
    color: #fff;
}

.boxed-header.light {
    background-color: var(--color-primary-light);
    color: #000;
}

section {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.section-header {
    border-bottom: 2px solid black;
    margin: 0px 0px 50px 0px;
}

.section-subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

button {
    border-radius: 10px;
    height: 40px;
    font-family: inherit;
}

button:hover {
    box-shadow: -2px -2px black;
}

.highlight-bullet {
    color: var(--color-secondary);
    font-size: var(--heading-3);
    font-weight: bold;
    margin-right: 15px;
}

/* INTRO */

#intro {
    background-color: #fff;
    height: 100vh;
}

#top-image {
    margin: 10px 0px 50px 0px;
}

#top-image img {
    height: 30vh;
    margin: auto;
    display: block;
}

#greeting {
    display: flex;
    flex-direction: column;
    font-size: var(--heading-1);
}

#greeting #whoami {
    display: flex;
    flex-direction: row;
    font-size: var(--heading-1);
    margin-top: 15px;
}

#greeting #whoami .section-header {
    margin-left: 15px;
}

#greeting #whoami h1 {
    display: flex;
    font-size: var(--heading-1);
    flex-direction: row;
    color: var(--color-secondary)
}


#greeting .section-header {
    flex-grow: 2;
}

#greeting .section-header h1 {
    display: inline-block;
    margin-bottom: 5px;
}

#intro h2 {
    font-size: var(--heading-3);
}

#button-row {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#button-contact {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: #fff;
    font-size: var(--heading-3);
    width: 40%
}

#button-learnmore {
    background-color: #fff;
    border: 1px solid #000;
    font-size: var(--heading-3);
    width: 40%;
}

/* SOCIAL */

#social {
    background-color: var(--color-neutral-light);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social .icon {
    background-color: var(--color-primary-darkest);
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    fill: white;
}

#social .icon svg {
    margin: 5px;
}

/* SERVICES */

#services {
    background-color: var(--color-neutral-dark);
}

#services svg {
    height: 75px;
}

.section {
    margin-bottom: 40px;
}

.section:last-of-type {
    margin-bottom: 0px;
}

.section:nth-of-type(2n+1) .section-subheader {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
}

.section-subheader-icon {
    padding: 0px 10px 0px 0px;  
    align-self: start;
}

.section:nth-of-type(2n+1) .section-subheader .section-subheader-icon {
    padding: 0px 0px 0px 10px;  
}

/* PORTFOLIO */

#portfolio {
    background-color: #fff;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
  
.control {
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.control svg {
    height: 100%;
}
  
.control:hover {
    background-color: black;
    color: white;
}
  
#showcase {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0px 15px;
    background: url(https://preview.redd.it/9k1j9k0axpi71.png?width=960&crop=smart&auto=webp&s=7f8dd0b0202b708a1a4c1a5acd126af1776ca755);
}

#showcase-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 25px;
}

#showcase-description h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
  
.rotate {
    animation-iteration-count: 1;
    animation-name: rotate;
    animation-duration: 1000ms;
}
  
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    box-shadow: none;
  }
  50% {
      box-shadow: 10px 10px 20px grey;
  }
  100% {
    box-shadow: none;  
    transform: rotateY(360deg);
  }
}

/* TOOLS */

#tools {
    background-color: var(--color-neutral-dark);
}

#tools .icon {
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    fill: white;
}

.tools-type {
    margin: 40px 0px 20px 0px;
}

.tools-type:nth-of-type(3n+3) {
    margin: 40px 0px 0px 0px;
}

.tools-type-header {
    font-size: var(--heading-3);
}

.tools-type-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.icon-and-text {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

#tools-type-programming .icon {
    background-color: var(--color-primary-darkest);
}

#tools-type-libraries .icon {
    background-color: var(--color-primary-darker);
}

#tools-type-tools .icon {
    background-color: var(--color-primary-normal);
}

#tools .icon svg {
    margin: 5px;
}


/* ABOUT ME */

#about-me {
    background-color: #fff;
}

#about-me svg {
    height: 75px;
}

/* CONTACT */

#contact {
    background: linear-gradient(#fff, var(--color-primary-normal));
    min-height: 600px;
}

#contact-form {
    margin: 40px 0px 60px 0px;
}

form label {
    display: block;
}

form .form-section {
    margin: 20px 0px;
}

form input,
form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    margin: 10px 0px;
    font-family: inherit;
    font-size: inherit;
}

#message {
    height: 150px;
}

#button-submit {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: #fff;
    font-size: var(--baseFontSize);
    display: block;
    margin: auto;
    width: 60%;
}

#bottom-image {
    margin: 100px 0px 0px 0px;

}

#bottom-image img {
    display: block;
    margin: auto;
    width: 225px;
}

/* FOOTER */

footer {
    height: 75px;
    background-color: var(--color-primary-darkest);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer ul li:first-of-type {
    margin-right: 15px;
}

footer li a {
    color: #fff;
}

